body{
	font: 15px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
/*Estilos globales*/

.contenedor{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

.boton1{
	height: 38px;
	background-color: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
}

/* Estilos paea encabezados*/

header{
	background-color: #24282b;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 5px solid #1293d4;
}

header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #marca{
	float: left;
}
header #marca h1{
	margin: 0;
}
header nav{
	float: right;
	margin-top: 10px;
}

header .resaltado, header  .actual a{
	color: #1293d4;
	font-weight: bold;
}

header a:hover{
	color: #ccc;
	font-weight: bold;
}

/*cabecera con Imagen*/

#cabecera{
	min-height: 400px;
	background:  url('../img/appTaxiService.jpg');
	background-repeat: no-repeat;
	background-size: 1500px 600px;
	text-align: center;
	color: #fff;
}
#cabecera h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#cabecera p{
	font-size: 20px;
	text-decoration: none;
}

/* Estilos boletin*/

#boletin{
	padding: 15px;
	color: #fff;
	background: #24282b;
}

#boletin h1{
	float: left;
}

#boletin form{
	float: right;
	color: #fff;
	background: #24282b;
}

#boletin input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}
/*Estilos para el contenedor cajas*/

#cajas{
	margin-top: 20px;


}

#cajas .caja{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#cajas .caja img{
	width: 180px;
}

/*Para el lateral*/

aside#lateral{
	float: rigth;
	width: 90%;
	margin-top: 10px;

}
.oscuro{
	padding: 15px;
	background-color: #35424a;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*Main col*/

article#main-col{
	float: left;
	width: 65%;

}

/*Estilos para el footer*/

footer{
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background-color: #1293d4;
	text-align: center;
}

input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
}

input[type=text]:focus {
  background-color: lightblue;
}

